.addColor {
	color: blue;
}

.hulkify {
	font-size: 5em;
}

.shrinkify {
	font-size: 1em;
}

.capture {
	border: 5px dotted purple;
}

.rounded {
	border-radius: 40px;
}

.boldText {
	font-weight: bold;
}

.boldAndItalText {
	font-weight: bold;
	font-style: italic;
}